# Notebook for the final IBM Data Science Course from Coursera

# Import neccessary libraries

In [244]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
from pandas import DataFrame
%matplotlib inline

In [245]:
data=pd.read_csv('Data-Collisions.csv',na_values=['',' ','Missing'])

In [246]:
data

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10.0,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11.0,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32.0,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23.0,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10.0,Entering at angle,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194668,2,-122.290826,47.565408,219543,309534,310814,E871089,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,24.0,From opposite direction - both moving - head-on,0,0,N
194669,1,-122.344526,47.690924,219544,309085,310365,E876731,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,13.0,From same direction - both going straight - bo...,0,0,N
194670,2,-122.306689,47.683047,219545,311280,312640,3809984,Matched,Intersection,24760.0,...,Dry,Daylight,NaN,NaN,NaN,28.0,From opposite direction - one left turn - one ...,0,0,N
194671,2,-122.355317,47.678734,219546,309514,310794,3810083,Matched,Intersection,24349.0,...,Dry,Dusk,NaN,NaN,NaN,5.0,Vehicle Strikes Pedalcyclist,4308,0,N
194672,1,-122.289360,47.611017,219547,308220,309500,E868008,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,14.0,From same direction - both going straight - on...,0,0,N

# Exploring the Dataset

In [247]:

data.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10.0,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11.0,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32.0,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23.0,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10.0,Entering at angle,0,0,N

In [248]:
data.shape

(194673, 38)

In [249]:
data.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE        float64
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [250]:
data['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [251]:
data['SEVERITYCODE'].value_counts(normalize =  True)

1    0.701099
2    0.298901
Name: SEVERITYCODE, dtype: float64

In [252]:
data.isnull().sum()

SEVERITYCODE           0
X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     189035
EXCEPTRSNDESC     189035
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE          4904
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [253]:
data['INCKEY'].value_counts()

266238    1
81549     1
104088    1
126615    1
124566    1
         ..
164613    1
176899    1
178946    1
172801    1
295445    1
Name: INCKEY, Length: 194673, dtype: int64

In [254]:
data['INCKEY'].count()

194673

In [255]:
data['INCKEY'].isnull().shape

(194673,)

In [256]:
data.shape[0]

194673

In [257]:
data['COLDETKEY'].value_counts()

266238    1
122129    1
111900    1
101659    1
99610     1
         ..
137750    1
131605    1
133652    1
143891    1
18441     1
Name: COLDETKEY, Length: 194673, dtype: int64

In [258]:
data['REPORTNO'].value_counts()

1782439    2
1776526    2
1780512    2
2895874    1
3344678    1
          ..
3777808    1
2622175    1
3590794    1
2806915    1
3279555    1
Name: REPORTNO, Length: 194670, dtype: int64

In [259]:
data['STATUS'].value_counts()

Matched      189786
Unmatched      4887
Name: STATUS, dtype: int64

In [260]:
data['EXCEPTRSNCODE'].isna().sum()

189035

In [261]:
data['EXCEPTRSNDESC'].isna().sum()

189035

In [262]:
data['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

In [263]:
data['UNDERINFL'].value_counts()

N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

In [264]:


data['INATTENTIONIND'].isnull().sum()

164868

In [265]:
data['PEDROWNOTGRNT'].isna().sum()

190006

In [266]:
data['SPEEDING'].isna().sum()

185340

In [267]:
data['SEGLANEKEY'].value_counts()

0         191907
6532          19
6078          16
12162         15
10336         14
           ...
35157          1
10817          1
15043          1
525169         1
16376          1
Name: SEGLANEKEY, Length: 1955, dtype: int64

In [268]:
data['CROSSWALKKEY'].value_counts()

0         190862
523609        17
520838        15
525567        13
521707        10
           ...
521019         1
630862         1
25545          1
523322         1
27186          1
Name: CROSSWALKKEY, Length: 2198, dtype: int64

In [269]:
data['HITPARKEDCAR'].value_counts()

N    187457
Y      7216
Name: HITPARKEDCAR, dtype: int64

In [270]:
data.replace("?", np.nan, inplace = True)

In [332]:
data.isnull().sum()

SEVERITYCODE           0
X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE               0
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     189035
EXCEPTRSNDESC     189035
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE          4904
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

### Selecting the initial features for exploration

In [272]:
df_fs = data[['X','Y', 'STATUS', 'ADDRTYPE','LOCATION','SEVERITYDESC','COLLISIONTYPE','JUNCTIONTYPE','INATTENTIONIND', 'UNDERINFL', 'PERSONCOUNT','PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE','INCDTTM', 'WEATHER', 'ROADCOND', 'LIGHTCOND','HITPARKEDCAR'  ]]

In [273]:
df_fs.head()

,X,Y,STATUS,ADDRTYPE,LOCATION,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,WEATHER,ROADCOND,LIGHTCOND,HITPARKEDCAR
0,-122.323148,47.703140,Matched,Intersection,5TH AVE NE AND NE 103RD ST,Injury Collision,Angles,At Intersection (intersection related),NaN,N,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,Overcast,Wet,Daylight,N
1,-122.347294,47.647172,Matched,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Property Damage Only Collision,Sideswipe,Mid-Block (not related to intersection),NaN,0,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Raining,Wet,Dark - Street Lights On,N
2,-122.334540,47.607871,Matched,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Property Damage Only Collision,Parked Car,Mid-Block (not related to intersection),NaN,0,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Overcast,Dry,Daylight,N
3,-122.334803,47.604803,Matched,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Property Damage Only Collision,Other,Mid-Block (not related to intersection),NaN,N,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Clear,Dry,Daylight,N
4,-122.306426,47.545739,Matched,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Injury Collision,Angles,At Intersection (intersection related),NaN,0,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,Raining,Wet,Daylight,N

In [334]:
df_fs.isna().sum()

X                5334
Y                5334
STATUS              0
ADDRTYPE            0
LOCATION         2677
SEVERITYDESC        0
COLLISIONTYPE       0
JUNCTIONTYPE        0
UNDERINFL           0
PERSONCOUNT         0
PEDCOUNT            0
PEDCYLCOUNT         0
VEHCOUNT            0
INCDATE             0
INCDTTM             0
WEATHER             0
ROADCOND            0
LIGHTCOND        5170
HITPARKEDCAR        0
dayofweek           0
hourofday           0
dtype: int64

In [275]:
df_fs['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

In [276]:
df_fs['ADDRTYPE'].value_counts()

Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

In [277]:
#Evaluating missing values across the columns

md = df_fs.isnull()

for column in md.columns.values.tolist():
    print(column)
    print (md[column].value_counts())

X
False    189339
True       5334
Name: X, dtype: int64
Y
False    189339
True       5334
Name: Y, dtype: int64
STATUS
False    194673
Name: STATUS, dtype: int64
ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64
LOCATION
False    191996
True       2677
Name: LOCATION, dtype: int64
SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64
COLLISIONTYPE
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64
JUNCTIONTYPE
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64
INATTENTIONIND
True     164868
False     29805
Name: INATTENTIONIND, dtype: int64
UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64
PERSONCOUNT
False    194673
Name: PERSONCOUNT, dtype: int64
PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64
PEDCYLCOUNT
False    194673
Name: PEDCYLCOUNT, dtype: int64
VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64
INCDATE
False    194673
Name: INCDATE, dtype: int64
INCDTTM
False    194673
Name: INCDTTM, dtype: int64
WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64
ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64
LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64
HITPARKEDCAR
False    194673
Name: HITPARKEDCAR, dtype: int64

In [278]:
# Evaluating for Missing Data
missing_data = df_fs.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("-----------------------------------")

X
False    189339
True       5334
Name: X, dtype: int64
-----------------------------------
Y
False    189339
True       5334
Name: Y, dtype: int64
-----------------------------------
STATUS
False    194673
Name: STATUS, dtype: int64
-----------------------------------
ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64
-----------------------------------
LOCATION
False    191996
True       2677
Name: LOCATION, dtype: int64
-----------------------------------
SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64
-----------------------------------
COLLISIONTYPE
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64
-----------------------------------
JUNCTIONTYPE
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64
-----------------------------------
INATTENTIONIND
True     164868
False     29805
Name: INATTENTIONIND, dtype: int64
-----------------------------------
UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64
-----------------------------------
PERSONCOUNT
False    194673
Name: PERSONCOUNT, dtype: int64
-----------------------------------
PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64
-----------------------------------
PEDCYLCOUNT
False    194673
Name: PEDCYLCOUNT, dtype: int64
-----------------------------------
VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64
-----------------------------------
INCDATE
False    194673
Name: INCDATE, dtype: int64
-----------------------------------
INCDTTM
False    194673
Name: INCDTTM, dtype: int64
-----------------------------------
WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64
-----------------------------------
ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64
-----------------------------------
LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64
-----------------------------------
HITPARKEDCAR
False    194673
Name: HITPARKEDCAR, dtype: int64
-----------------------------------

In [279]:
df_fs[['X', 'Y',  'ADDRTYPE', 'LOCATION', 'COLLISIONTYPE', 'JUNCTIONTYPE', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND']].dtypes

X                 float64
Y                 float64
ADDRTYPE           object
LOCATION           object
COLLISIONTYPE      object
JUNCTIONTYPE       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
dtype: object

In [344]:
df_fs[['X', 'Y',  'ADDRTYPE', 'LOCATION', 'COLLISIONTYPE', 'JUNCTIONTYPE', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND']]

KeyError: "['INATTENTIONIND'] not in index"

# Creating the data quality report

In [281]:

def get_dq(data):
    d=data.dtypes[data.dtypes!='object'].index.values
    data[d]=data[d].astype('float64')
    mean=DataFrame({'mean':data[d].mean()})
    std_dev=DataFrame({'std_dev':data[d].std()})
    missing= DataFrame({'missing':data[d].isnull().sum()})
    obs=DataFrame({'obs':np.repeat(data[d].shape[0],len(d))},index=d)
    missing_perc=DataFrame({'missing_perc':data[d].isnull().sum()/data[d].shape[0]})
    minimum=DataFrame({'min':data[d].min()})
    maximum=DataFrame({'max':data[d].max()})
    unique=DataFrame({'unique':data[d].apply(lambda x:len(x.unique()),axis=0)})
    q5=DataFrame({'q5':data[d].apply(lambda x:x.dropna().quantile(0.05))})
    q10=DataFrame({'q10':data[d].apply(lambda x:x.dropna().quantile(0.10))})
    q25=DataFrame({'q25':data[d].apply(lambda x:x.dropna().quantile(0.25))})
    q50=DataFrame({'q50':data[d].apply(lambda x:x.dropna().quantile(0.50))})
    q75=DataFrame({'q75':data[d].apply(lambda x:x.dropna().quantile(0.75))})
    q85=DataFrame({'q85':data[d].apply(lambda x:x.dropna().quantile(0.85))})
    q95=DataFrame({'q95':data[d].apply(lambda x:x.dropna().quantile(0.95))})
    q99=DataFrame({'q99':data[d].apply(lambda x:x.dropna().quantile(0.99))})
    DQ=pd.concat([mean,std_dev,obs,missing,missing_perc,minimum,maximum,unique,q5,q10,q25,q50,q75,q85,q95,q99],axis=1)
    c=data.dtypes[data.dtypes=='object'].index.values
    Mean=DataFrame({'mean':np.repeat('Not Applicable',len(c))},index=c)
    Std_Dev=DataFrame({'std_dev':np.repeat('Not Applicable',len(c))},index=c)
    Missing=DataFrame({'missing':data[c].isnull().sum()})
    Obs=DataFrame({'obs':np.repeat(data[d].shape[0],len(c))},index=c)
    Missing_perc=DataFrame({'missing_perc':data[c].isnull().sum()/data[c].shape[0]})
    Minimum=DataFrame({'min':np.repeat('Not Applicable',len(c))},index=c)
    Maximum=DataFrame({'max':np.repeat('Not Applicable',len(c))},index=c)
    Unique=DataFrame({'unique':data[c].apply(lambda x:len(x.unique()),axis=0)})
    Q5=DataFrame({'q5':np.repeat('Not Applicable',len(c))},index=c)
    Q10=DataFrame({'q10':np.repeat('Not Applicable',len(c))},index=c)
    Q25=DataFrame({'q25':np.repeat('Not Applicable',len(c))},index=c)
    Q50=DataFrame({'q50':np.repeat('Not Applicable',len(c))},index=c)
    Q75=DataFrame({'q75':np.repeat('Not Applicable',len(c))},index=c)
    Q85=DataFrame({'q85':np.repeat('Not Applicable',len(c))},index=c)
    Q95=DataFrame({'q95':np.repeat('Not Applicable',len(c))},index=c)
    Q99=DataFrame({'q99':np.repeat('Not Applicable',len(c))},index=c)
    dq=pd.concat([Mean,Std_Dev,Obs,Missing,Missing_perc,Minimum,Maximum,Unique,Q5,Q10,Q25,Q50,Q75,Q85,Q95,Q99],axis=1)
    DQ=pd.concat([DQ,dq])
    return DQ
report=get_dq(data=data)
report.to_csv('dataquality2.csv')

In [282]:
df_fs.dtypes

X                 float64
Y                 float64
STATUS             object
ADDRTYPE           object
LOCATION           object
SEVERITYDESC       object
COLLISIONTYPE      object
JUNCTIONTYPE       object
INATTENTIONIND     object
UNDERINFL          object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
HITPARKEDCAR       object
dtype: object

In [283]:
def get_cat_bins(col,target,data):
    if data[col].isnull().sum()!=0:
        data[col].fillna('Missing',inplace=True)
    else:
        data[col]=data[col]
    bin_range=data[col]
    var=pd.DataFrame()
    name="level"
    var[name],var['target']=bin_range,data[target]
    var=var.groupby(name)['target'].agg([np.size,np.sum]).reset_index()
    print(var)
    print(var['sum'])
    var['Accident-Rate']=var['sum']/var['size']
    Name=col+" "
    var['name']=(Name*var.shape[0])[:-1].split(" ")
    var.rename(columns={'size':'N.Obs','sum':'N.Accident'},inplace=True)
    var.loc[var.shape[0]]=np.repeat("#",var.shape[1])
    var=var[['name','level','N.Obs','N.Accident','Accident-Rate']]          
    return var

In [335]:
report = get_cat_bins(col='ADDRTYPE',target='SEVERITYCODE',data=data)
#report = get_cat_bins(col='SEVERITYDESC',target='SEVERITYCODE',data=data)

report.to_csv('cat.csv')

          level      size       sum
0         Alley     751.0     833.0
1         Block  126926.0  157022.0
2  Intersection   65070.0   92889.0
3       Missing    1926.0    2117.0
0       833.0
1    157022.0
2     92889.0
3      2117.0
Name: sum, dtype: float64

# Identify and handle missing values & data transformations
### Replace missing value by the most frequency and also levels within each of the catergorical values are explored and reduced/merged where possible

In [355]:
df_fs.isnull().sum()

X                5334
Y                5334
STATUS              0
ADDRTYPE            0
LOCATION         2677
SEVERITYDESC        0
COLLISIONTYPE       0
JUNCTIONTYPE        0
UNDERINFL           0
PERSONCOUNT         0
PEDCOUNT            0
PEDCYLCOUNT         0
VEHCOUNT            0
INCDATE             0
INCDTTM             0
WEATHER             0
ROADCOND            0
LIGHTCOND        5170
HITPARKEDCAR        0
dayofweek           0
hourofday           0
dtype: int64

In [287]:
df_fs['ADDRTYPE'].isna().value_counts()

False    192747
True       1926
Name: ADDRTYPE, dtype: int64

In [288]:
df_fs["ADDRTYPE"].replace(np.nan, df_fs['ADDRTYPE'].value_counts().idxmax(), inplace = True)
df_fs['ADDRTYPE'].value_counts()

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Block           128852
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

In [289]:
df_fs['SEVERITYDESC'].value_counts()

Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

In [290]:
df_fs['COLLISIONTYPE'].value_counts()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

In [291]:
df_fs["COLLISIONTYPE"].replace(np.nan, df_fs['COLLISIONTYPE'].value_counts().idxmax(), inplace = True)
df_fs['COLLISIONTYPE'].value_counts()

Parked Car    52891
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

In [292]:
df_fs['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

In [293]:
df_fs["JUNCTIONTYPE"].replace(np.nan, df_fs['JUNCTIONTYPE'].value_counts().idxmax(), inplace=True)
df_fs["JUNCTIONTYPE"].replace("Unknown", df_fs['JUNCTIONTYPE'].value_counts().idxmax(), inplace=True)

In [294]:
df_fs['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              96138
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Name: JUNCTIONTYPE, dtype: int64

In [295]:
df_fs['JUNCTIONTYPE'].replace('Ramp Junction', 'RampAndDrive', inplace = True)
df_fs['JUNCTIONTYPE'].replace('Driveway Junction', 'RampAndDrive', inplace = True)
df_fs['JUNCTIONTYPE'].replace('At Intersection (intersection related)', 'Intersection-related', inplace = True)
df_fs['JUNCTIONTYPE'].replace('Mid-Block (but intersection related)', 'Intersection-related', inplace = True)
df_fs['JUNCTIONTYPE'].replace('At Intersection (but not related to intersection)', 'Intersection-related', inplace = True)
df_fs['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)    96138
Intersection-related                       87698
RampAndDrive                               10837
Name: JUNCTIONTYPE, dtype: int64

In [296]:
df_fs['INATTENTIONIND'].isnull().value_counts(normalize = True)

True     0.846897
False    0.153103
Name: INATTENTIONIND, dtype: float64

In [297]:
df_fs.drop('INATTENTIONIND',
  axis='columns', inplace=True)

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [298]:
df_fs['UNDERINFL'].value_counts()

N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

In [299]:
df_fs['UNDERINFL'].isnull().value_counts()

False    189789
True       4884
Name: UNDERINFL, dtype: int64

In [300]:
df_fs["UNDERINFL"].replace(np.nan, df_fs['UNDERINFL'].value_counts().idxmax(), inplace=True)

In [301]:
df_fs['UNDERINFL'].replace("0", "N", inplace = True)
df_fs['UNDERINFL'].replace("1", "Y", inplace = True)

In [302]:
df_fs['UNDERINFL'].value_counts()

N    185552
Y      9121
Name: UNDERINFL, dtype: int64

In [303]:
df_fs['WEATHER'].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [304]:
df_fs['WEATHER'].isnull().value_counts()

False    189592
True       5081
Name: WEATHER, dtype: int64

In [305]:
df_fs['WEATHER'].replace(np.nan, df_fs['WEATHER'].value_counts().idxmax(), inplace =True)

In [306]:
df_fs['WEATHER'].replace('Partly Cloudy', 'Overcast', inplace = True)
df_fs['WEATHER'].replace('Severe Crosswind', 'Overcast', inplace = True)
df_fs['WEATHER'].replace('Blowing Sand/Dirt', 'Overcast', inplace = True)
df_fs['WEATHER'].replace('Sleet/Hail/Freezing Rain', 'Raining', inplace = True)
df_fs['WEATHER'].replace('Fog/Smog/Smoke', 'Overcast', inplace = True)
df_fs['WEATHER'].replace('Other', 'Unknown', inplace = True)
df_fs['WEATHER'].value_counts()

Clear       116216
Raining      33258
Overcast     28369
Unknown      15923
Snowing        907
Name: WEATHER, dtype: int64

In [307]:
df_fs['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [308]:
df_fs['ROADCOND'].replace(np.nan, df_fs['ROADCOND'].value_counts().idxmax(), inplace =True)

In [309]:
df_fs['ROADCOND'].replace('Oil', 'Wet', inplace = True)
df_fs['ROADCOND'].replace('Sand/Mud/Dirt', 'Sand/Mud/Dirt/Oil', inplace = True)
df_fs['ROADCOND'].replace('Other', 'Unknown', inplace = True)
df_fs['ROADCOND'].replace('Snow/Slush', 'Ice', inplace = True)
df_fs['ROADCOND'].replace('Standing Water', 'Wet', inplace = True)
df_fs['ROADCOND'].replace('Sand/Mud/Dirt/Oil', 'Wet', inplace = True)
df_fs['ROADCOND'].value_counts()

Dry        129522
Wet         47728
Unknown     15210
Ice          2213
Name: ROADCOND, dtype: int64

In [310]:
df_fs['LIGHTCOND'].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [318]:
df_fs['LIGHTCOND'].replace('Dark - Unknown Lighting', 'Dark', inplace = True)
df_fs['LIGHTCOND'].replace('Other', 'Unknown', inplace = True)
df_fs['LIGHTCOND'].replace('Dark - Street Lights Off', 'Dark', inplace = True)
df_fs['LIGHTCOND'].replace('Dark - No Street Lights', 'Dark', inplace = True)
df_fs['LIGHTCOND'].replace('Dawn', 'Dawn-Dusk', inplace = True)
df_fs['LIGHTCOND'].replace('Dusk', 'Dawn-Dusk', inplace = True)
df_fs['LIGHTCOND'].replace('Dark - Street Lights On', 'Dark', inplace = True)
df_fs['LIGHTCOND'].value_counts()

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Daylight     116137
Dark          51254
Unknown       13708
Dawn-Dusk      8404
Name: LIGHTCOND, dtype: int64

# Transforming the date time objects

In [345]:
# Convert to date time object
df_fs['INCDTTM'] = pd.to_datetime(df_fs['INCDTTM'])
df_fs['INCDATE'] = pd.to_datetime(df_fs['INCDATE'])

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [316]:
df_fs[['INCDTTM', 'INCDATE']]

                   INCDTTM                   INCDATE
0      2013-03-27 14:54:00 2013-03-27 00:00:00+00:00
1      2006-12-20 18:55:00 2006-12-20 00:00:00+00:00
2      2004-11-18 10:20:00 2004-11-18 00:00:00+00:00
3      2013-03-29 09:26:00 2013-03-29 00:00:00+00:00
4      2004-01-28 08:04:00 2004-01-28 00:00:00+00:00
...                    ...                       ...
194668 2018-11-12 08:12:00 2018-11-12 00:00:00+00:00
194669 2018-12-18 09:14:00 2018-12-18 00:00:00+00:00
194670 2019-01-19 09:25:00 2019-01-19 00:00:00+00:00
194671 2019-01-15 16:48:00 2019-01-15 00:00:00+00:00
194672 2018-11-30 15:45:00 2018-11-30 00:00:00+00:00

[194673 rows x 2 columns]

In [321]:
# covert datetime to weekday and hours
df_fs['dayofweek'] = df_fs['INCDATE'].dt.dayofweek
df_fs['hourofday'] = df_fs['INCDTTM'].dt.hour

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [323]:
df_fs.head(3)

,X,Y,STATUS,ADDRTYPE,LOCATION,SEVERITYDESC,COLLISIONTYPE,JUNCTIONTYPE,UNDERINFL,PERSONCOUNT,...,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,WEATHER,ROADCOND,LIGHTCOND,HITPARKEDCAR,dayofweek,hourofday
0,-122.323148,47.703140,Matched,Intersection,5TH AVE NE AND NE 103RD ST,Injury Collision,Angles,Intersection-related,N,2,...,0,2,2013-03-27 00:00:00+00:00,2013-03-27 14:54:00,Overcast,Wet,Daylight,N,2,14
1,-122.347294,47.647172,Matched,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Property Damage Only Collision,Sideswipe,Mid-Block (not related to intersection),N,2,...,0,2,2006-12-20 00:00:00+00:00,2006-12-20 18:55:00,Raining,Wet,Dark,N,2,18
2,-122.334540,47.607871,Matched,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Property Damage Only Collision,Parked Car,Mid-Block (not related to intersection),N,4,...,0,3,2004-11-18 00:00:00+00:00,2004-11-18 10:20:00,Overcast,Dry,Daylight,N,3,10

In [347]:
df_fs.shape

(194673, 21)

In [358]:
df_fs['dayofweek'].dtype

dtype('int64')

In [359]:
df_fs.dropna(subset=["X"], axis=0, inplace=True)

C:\Users\qazi.mussabbir\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [360]:
df_fs.shape

(189339, 21)